:root{
    --primary: #330000;
    --secondary: #990000;
    --black: #000000;
    --white: #ddd;
}
body{
    background-color: var(--white);
    font-size: 16px;
}
header {
    position: fixed;
    top: 0%;
    left:0%;
    width: 100%;
    display: flex;
    background-color: var(--black);
}
.navigation {
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    border: 1px solid black;
    color: var(--white);
    padding: 15px 10px;
    font-size: 20px;
    outline: none;
}
.navigation:focus,
.navigation:hover{
    background-color: var(--secondary);
    color: var(--black);
}
main{
    margin-top: 70px;
}
.container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    max-width: 700px;
    margin: auto;
}
h1{
    font-family: 'EB Garamond', serif;
    text-align: center; 
    font-size: 35px;
}
h2{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}
p{
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}
.bio{
    text-align: left;
    font-size: 20px;
}
li {
    font-size: 20px;
    text-align: left;
}

.picture_placeholder{
    text-align: center;
    font-size: 50px;
}

img{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85%;
}
h3{
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}
/* a:link{

} */
/* .projectLinks{
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: var(white);
    font-size: 20px;
} */

/* @media screen and (max-width: 700px){
    header {
        
    }
} */