body{
    background-color: #330000;
    font-size: 16px;
}
header {
    position: fixed;
    top: 0%;
    left:0%;
    width: auto;
    height: 100%;
    background-color: #4db8ff;
    border: 1px solid black;
    color: black;
}
.navigation{
    position: relative;
    left: 0%;
    display: block;
    background-color: #990000;
    border: 1px solid black;
    width: 100%;
    color: #ddd;
    padding: 15px 10px;
    text-align: left;
    /* text-decoration: none; */
    font-size: 20px;
}
.navigation:hover{
    background-color: #007acc;
    color: black;
}
.container{
    position: relative;
    top:50px;
    left:10px;
    right:10px;
    margin-left: 200px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: #ddd;
}
h1{
    font-family: 'EB Garamond', serif;
    text-align: center; 
    font-size: 35px;
}
h2{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}
p{
    font-family: 'Roboto', sans-serif;
}
.bio{
    text-align: left;
    font-size: 20px;
}
li {
    font-size: 20px;
    text-align: left;
}

.picture_placeholder{
    text-align: center;
    font-size: 50px;
}

img{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
h3{
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}
.projectLinks{
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: #ddd;
    font-size: 20px;
}